@use 'src/styles/config' as v;

.item__container {
  .item {
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
    height: 500px;
    background-position: -900px -900px;

    display: flex;
    //flex: 1 0 14rem;
    align-items: end;
    justify-content: center;
    border-radius: 20px;
    opacity: 0.9;

  }:hover {
       cursor: pointer;
       transform: scale(1.06);
       border-radius: 30px;
     }
}


.topFilmCard__rating {
  text-align: center;
  color: v.$greyColor;
  font-size: 60px;
  width: 250px;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(to top, v.$darkColor, transparent);
}