
//@import '@/styles/abstract';
@use 'src/styles/config' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  a {
    color: v.$greyColor;
    text-decoration: none;
  }:hover {
     cursor: pointer;
     color: v.$whiteColor;
   }
}

.header__nav {
  display: flex;
  align-items: center;
  height: 72px;
  width: 650px;

  .logo {
    height: 48px;
    width: 66px;
  }
  ul {
    list-style: none;
    li {
      color: v.$greyColor;
      display: inline;
      margin-right: 20px;
    }
  }
}

.header__profile {
  ul {
    list-style: none;
    li {
      color: v.$greyColor;
      display: inline;
      margin-right: 20px;
    }
  }
.profile__btn {
  background-image: linear-gradient(270deg,#ea003d,#c447ff);
  border: transparent;
  border-radius: 8px;
  height: 38px;
  padding: 7px 11px;
  a {
    color: v.$whiteColor;
  }
}
  //@include debug-border(blue)
}